<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    <link rel="stylesheet" href="static/index1.css">
    
</head>
<body>
    <title>Flask練習</title>
    <h1>Example Sheat</h1>
    <script src="static/js/index1.js"></script>
    <div class="cover"></div>
    
    <div class="radius1">
        <P>セッション失敗</P>
        
    </div>
    <div class="radius2">
        <P>セッション失敗</P>
    </div>    
    
</body>
</html>
